.card {
  background-color: #fff;
  border: 2px solid #03c1ad;
  border-radius: 15px;
  padding: 2%;
  width: 96%;
  margin: 2%;
}

img {
  border: solid 2px #03c1ad;
  border-radius: 15px;
}

.regle h1 {
  font-size: 20px;
  font-family: 'poppins';
  color: #03c1ad;
  font-weight: bold;
}

p {
  font-size: 10px;
  text-align: justify;
}

li {
  font-size: 12px;
  text-align: justify;
}
