<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Mange Blog</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Page wrapper/Container Section -->
  <div class="container">
    <h3 style="text-align: center; font-weight: bold; margin-top: 10px ; ">Your {{nBlog}} Blogs</h3>
    <br>
    <div class="search-wrapper">
      <input type="text" #myInput [(ngModel)]="titre" (input)="SearchBlogByTitre()" class="search-input" placeholder="Search …" />
      <svg width="20px" height="20px" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" class="feather feather-search" viewBox="0 0 24 24">
        <defs></defs>
        <circle cx="11" cy="11" r="8"></circle>
        <path d="M21 21l-4.35-4.35"></path>
      </svg>
    </div>
    <br>
    <div class="p-2 bd-highlight">
      <button (click)="open(content)" type="button" class="btn btn-secondary" style="width: 50% ; margin-left: 25% ; height: 40px;">Add Blog</button>
    </div>
    <p style="font-size: smaller;"><b>NB:</b> if you want to hide a blog make hidden to true</p>
    <br>
    <!-- Responsive Table Section -->
    <div class="responsive-table" style="overflow-x:auto;">
      <table class="table">
        <thead>
          <tr>
            <th style="font-size: small; width: 20px;">Img</th>
            <th style="font-size: small; width: 20px;">Title</th>
            <th style="font-size: small; width: 20px;">Status</th>
            <th style="font-size: small; width: 20px;">Desc</th>
            <th style="font-size: small; width: 20px;">Posted</th>
            <th style="font-size: small; width: 20px;">likes</th>
            <th style="font-size: small; width: 20px;">Actions</th>
          </tr>
        </thead>
        <!-- Responsive Table Body Section -->
        <tbody>
          <tr *ngFor="let b of ListBlog; let i = index">
            <td style="width: 20px;"><img style="border-radius: 50%; width:30px; height:30px" src="http://localhost:9091/blog/{{ b.image }}"/></td>
            <td style="width: 20px;">{{ b.titre }}</td>
            <td style="width: 20px;" *ngIf="b.masquer">
              <a href="/home/gestion-blog" (click)="masquerBlog(b._id)">{{ b.masquer }}</a>
            </td>
            <td style="width: 10px;" *ngIf="!b.masquer" >
              <a href="/home/gestion-blog" (click)="masquerBlog(b._id)">{{b.masquer}}</a>
            </td>
            <td style="width: 20px;">{{ b.description }}</td>
            <td style="width: 2px;">{{ b.date }}</td>
            <td style="width: 20px;">{{ b.like }}</td>
            <td style="width: 20px;">
              <a>
                <fa-icon [icon]="faDel"  class="material-icons" style="color: red;" (click)="openalert(contentalert); setIdThisBlog(b._id)"></fa-icon>
              </a>
              <fa-icon [icon]="faEdit"  class="material-icons" style="color: #03C1AD;margin-left: 40px;" (click)="opene(contente); setIdThisBlog(b._id)"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Add-->
  <ng-template #content let-modal  class="modal" >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Blog</h4>
      <a href="/home/gestion-blog">
        <i class="fa-solid fa-x" (click)="modal.dismiss('Cross click')" style="margin:12px;color:black !important;"></i>
      </a>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" formControlName="titre" class="form-control" [ngClass]="{ 'is-invalid': submitted && b.titre.errors }" />
          <div *ngIf="submitted && b.titre.errors" class="invalid-feedback">
            <div *ngIf="b.titre.errors.required">Titre is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && b.description.errors }" />
          <div *ngIf="submitted && b.description.errors" class="invalid-feedback">
            <div *ngIf="b.description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-dark">Add</button>
          <button class="btn btn-outline-danger" type="reset" href="/home/gestion-blog" (click)="modal.dismiss('Cross click')">Cancel</button>
        </div>
        <div [hidden]="hidemsg" class="alert alert-success"><p>{{msg}}</p></div>
      </form>
    </div>
  </ng-template>
  <hr>

  <!--Edit-->
  <ng-template #contente let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Blog</h4>
      <a href="/home/gestion-blog">
        <i class="fa-solid fa-x" (click)="modal.dismiss('Cross click')" style="margin:12px;color:black !important;"></i>
      </a>
    </div>
    <div class="modal-body" >
      <form [formGroup]="form" (ngSubmit)="onEdit()">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" formControlName="titre" class="form-control" [ngClass]="{ 'is-invalid': submitted && b.titre.errors }"/>
          <div *ngIf="submitted && b.titre.errors" class="invalid-feedback">
            <div *ngIf="b.titre.errors.required">Titre is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && b.description.errors }" />
          <div *ngIf="submitted && b.description.errors" class="invalid-feedback">
            <div *ngIf="b.description.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-dark">Update</button>
          <a class="btn btn-link" type="reset" href="/home/gestion-blog" (click)="modal.dismiss('Cross click')">Cancel</a>
        </div>
        <div [hidden]="hidemsg" class="alert alert-success"><p>{{msg}}</p></div>
      </form>
    </div>
  </ng-template>

  <!--Delete-->
  <ng-template #contentalert let-modal>
    <div class="modal-header">
      <h5 style="color: black; text-align: center;" class="modal-title" id="modal-basic-title">Are You Sur to delete this Blog ?</h5>
      <a href="/home/gestion-blog">
        <i class="fa-solid fa-x" (click)="modal.dismiss('Cross click')" style="margin:12px;color:black !important;"></i>
      </a>
    </div>
    <div class="modal-body" >
      <form [formGroup]="form">
        <div class="form-group" style="align-items: center;">
          <a style="color: red;" href="/home/gestion-blog" class="btn btn-default" (click)="deleteBlog(); modal.dismiss('Cross click')">Confirm</a>
          <a style="color: green;" class="btn btn-link" class="btn btn-default" href="/home/gestion-blog" (click)="modal.dismiss('Cross click')">Cancel</a>
        </div>
      </form>
    </div>
  </ng-template>

</ion-content>


