<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">How it Work</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container2">
    <div class="mini-title">
      <h1>How it works ?</h1>
      <p>Learn more about NatHub</p>
    </div>
    <p>Amet minim mollit non deserunt ullamco
    est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit.
    Exercitation veniam consequat sunt nostrud amet.
    Velit officia consequat duis enim velit mollit.
    Exercitation veniam consequat sunt nostrud amet. </p>
    <a href="/home/contact">
      <button type="button" class="btn btn-dark">Join Us !</button>
    </a>
    <div class="video-card">
      <video  controls>
        <source src="../../../assets/videos/howitworks.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

</ion-content>
